.replicon_right{
    width: 24px;
    height: 24px;
    display: inline-block;
    float:right;
    margin-right: -16px;
}
.replicon{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    padding-right: 16px;
}